<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<title>Boxer list</title>
</head>
<body>
	<h1>Boxer list</h1>
	
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	
	<table class="table table-striped">
		<tr>
			<th>Nimi</th>
			<th>Syntymävuosi</th>
			<th>Paino</th>
			<th>Kätisyys</th>
			<th>Ottelut</th>
			<th>Muokkaa</th>
			<th>Poista</th>
		</tr>
		<tr th:each="boxer :${boxerlist}">
			<td th:text="${boxer.firstName} + ' ' + ${boxer.lastName}">Nimi</td>
			<td th:text="${boxer.birthYear}">Syntymävuosi</td>
			<td th:text="${boxer.weight}">Paino</td>
			<td th:text="${boxer.stance.stance}">Kätisyys</td>
			<td th:text="${boxer.bouts}">Ottelut</td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class ="btn btn-success" th:href="@{/editboxer/{id}(id=${boxer.boxer_Id})}">Edit</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class ="btn btn-danger" th:href="@{/deleteboxer/{id}(id=${boxer.boxer_Id})}">Delete</a></td>
		</tr>
	</table>
	<p sec:authorize="hasAuthority('ADMIN')"><a class ="btn btn-success" href =/newboxer>Lisää uusi nyrkkeilijä</a>
</body>
</html>